
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Allow public write only for new support ticket attachments.
    match /support_tickets/{ticketId}/{fileName} {
      allow write: if true;
      allow read, delete: if request.auth != null;
    }

    // Numbered Links files: Public read, Admin write/delete
    match /numbered_links/{fileName} {
      allow read: if true;
      allow write, delete: if request.auth != null;
    }

    // Secure all other paths.
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
